.header {
  text-align: center;
  font-family: 'Amatic SC', cursive;
  font-weight: bold;
  margin-top: 100px;
}

.header h1{
  font-size: 5em;
}

.header p {
  font-size: 2em;
}
 
.racer_table {
  margin-left: auto;
  margin-right:auto;
}


.racer_table td {
  height:100px;
  width: 100px;
}

.racer_table td.active1 {
  background-image: url(images/redfrog.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.racer_table td.active2 {
  background-image: url(images/yellow-frog.jpg);
  background-repeat: no-repeat;
  background-position: center;
}
