.header{
  text-align: center;

}
 
.racer_table {
  margin-left: auto;
  margin-right:auto;
}


.racer_table td {
  height:100px;
  width: 100px;
}

.racer_table td.active1 {
  background-color: blue;
  background-image: /redfrog.jpg:;
}

.racer_table td.active2 {
  background-color: red;
}
