.header{
  text-align: center;
  font-family: 'Amatic SC', cursive;
}
 
 .header h1 {
  font-size: 3em;
  font-weight: bolder;
  margin-top: 50px;
 }

 .header p {
  font-size: 2em;
  font-weight: bold;
  margin:20px;
 }

.racer_table {
  margin-left: auto;
  margin-right:auto;
}


.racer_table td {
  height:100px;
  width: 100px;
}

.racer_table td.active1 {
  background-image: url(images/redfrog.jpg);
}

.racer_table td.active2 {
  background-image: url(images/yellow-frog.jpg);
}
